[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime.git
	ignore = dirty
	branch = master
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum.git
	branch = master
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle
	branch = master
[submodule "qiwo-sync-core"]
	path = qiwo-sync-core
	url = ../qiwo-sync-core.git
	branch = main
[submodule "rime-frost"]
	path = rime-frost
	url = https://github.com/gaboolic/rime-frost.git
